@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
.some-background{
    height: 100%;
    width: 100%;
    background-image: url("https://wallpapershome.com/images/wallpapers/abstract-3840x2160-artwork-dark-colorful-4k-19902.jpg");
}
h1{
    font-family: Courier;
    color: brown;
    text-align: center;
    padding: 17px;
    display: flexbox;
    
}
.div1{
    color: #ffffff;
    height: 49%;
    width: 40%;
    left: 29%;
    top: 15px;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 50%;
    background-color: rgb(61, 125, 160);
    border: dashed;
    position: absolute;
    border-radius: 3%;
    padding: 10px;
    box-shadow: 0px 0px 10px #888888;
}
.div2{
    /* background-color: bisque; */
    position: absolute;
    top: 31%;
    left: 3%;
    height: 67%;
    width: 94%;
    border-radius: 3%;
}
img{
    position: absolute;
    right: 0px;
    bottom: 50%;
    left: 64%;
    top: 11%;
    height: 53%;
    width: 23%;
}

.we{
    color: whitesmoke;
    position: absolute;
    top: 7px;
    left: 31px;
    right: 73%;
    height: 34%;
    background-color: rgb(61, 125, 160);
    border: #ffffff dashed;
    border-radius: 3%;
    text-align: center;
    box-shadow: 0px 0px 10px #888888;
}
.hobbies{
    color: whitesmoke;
    position: absolute;
    top: 156px;
    left: 31px;
    right: 73%;
    height: 60%;
    background-color: rgb(61, 125, 160);
    border: #ffffff dashed;
    border-radius: 3%;
    text-align: center;
    box-shadow: 0px 0px 10px #888888;
}
.edu{
    color: whitesmoke;
    position: absolute;
    top: 155px;
    left: 28%;
    right: 27%;
    height: 60%;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 2%;
    background-color: rgb(61, 125, 160);
    border: #ffffff dashed;
    border-radius: 3%;
    text-align: center;
    box-shadow: 0px 0px 10px #888888;
    

}
.project{
    color: whitesmoke;
    position: absolute;
    top: 8px;
    left: auto;
    right: 1%;
    height: 95%;
    width: 25%;
    background-color: rgb(61, 125, 160);
    border: #ffffff dashed;
    border-radius: 3%;
    text-align: center;
    box-shadow: 0px 0px 10px #888888;
}
#gitReq{
    color: whitesmoke;
    position: absolute;
    top: -143px;
    left: 31px;
    right: 73%;
    height: 34%;
    background-color: rgb(61, 125, 160);
    border: #ffffff dashed;
    border-radius: 3%;
    text-align: center;
    box-shadow: 0px 0px 10px #888888;
    cursor: pointer;
    font-size: 13px;

}
.table{
    text-align: center;
}
a{
    text-decoration: none;
}
